.left {float:left;}
.right {float:right;}
.wrapper {width:100%; overflow:hidden;}
.glob{width:100%; height:105%; position:absolute; overflow-y:scroll; overflow-x:hidden;}
body{font-family:Arial, sans-serif; color:#000; background:url(bgpic001.jpg) 50% 25% no-repeat fixed; line-height:18px; min-width:1020px; min-height:100%; position:absolute; width:110%; height:100%; overflow:hidden;}
//body{font-family:Arial, sans-serif; color:#000; line-height:18px; min-width:1020px; min-height:100%; position:absolute; width:110%; height:100%; overflow:hidden;}
.main {margin:0px auto 0 auto; 	width:1010px; z-index:2; height:100%; position:relative;}
.page_spinner{position:absolute; background:url(loader00.gif) 50% 50% no-repeat #f5f3f2; z-index:99; width:100%; height:100%; top:0; left:0}
#glob{position:relative; overflow:hidden; z-index:1;}
a{color:#fff; text-decoration:none; outline:none;}
a:hover{text-decoration:underline}
h1{float:left; padding:0 0 0 0px; background:url(logohold.png) 0 0 no-repeat; width:317px; height:310px; position:relative; left:-58px;}
h2{font-family:Arial, sans-serif; color:#363839; font-size:20px; line-height:20px; width:100%; padding-bottom:30px; font-weight:700; font-style:normal; text-transform:uppercase;}
h3{font-family:Arial, sans-serif; color:#5cbed7; font-size:13px; line-height:20px; width:100%; padding-bottom:18px; font-weight:700; text-transform:uppercase;}
p{font-family:Arial, sans-serif; padding-bottom:18px; font-size:12px; color:#848484; line-height:20px;}
table{border:0px; text-decoration:none; text-transform:none; background:none;}
.undLineOff{text-decoration:none;}
.textLowerCase{text-transform:lowercase}
.center{padding:0 0; width:100%; position:relative; display:inline-block; padding-top:136px;}
.alignLeft{text-align:left;}
.alignCenter{text-align:center;}
.alignRight{text-align:right;}
header{position:relative; width:1010px; height:261px; margin:0 auto; z-index:1;}
#logo{text-indent:-9999px; background:url(logo0000.png) 0 0 no-repeat; width:161px; height:190px; display:inline-block; position:absolute; left:78px; top:55px;}
#logoHolder{margin:0 140px; position:relative; width:674px; height:172px;}
.centerHolder{width:100%; position:absolute; z-index:3; top:0; margin:0 auto; height:270px;}
.logoHolder{position:absolute; width:702px; top:-850px; height:226px; left:0px;}
.menu{position:relative; z-index:0; display:inline-block; float:left;}
#menu {z-index:3; position:relative; width:1010px; white-space:nowrap;}
#menu > li{position:relative; width:201px; height:201px; display:inline-block; background:url(divider1.png) 100% 0 repeat-y; float:left;}
#menu > li > a{color:#fff; display:block; text-transform:uppercase; position:relative;}
#menu > li > a:hover{text-decoration:none;}
#menu > li.active > a{text-decoration:none;}
#menu > .bgNone{background:none; padding-right:0px;}
#menu .leftP{background:url(leftp000.png) 0 0 no-repeat;}
#menu .rightP{background:url(rightp00.png) 0 0 no-repeat;}
.submenu_1{position:absolute; z-index:3; width:100%; left:0; top:85px; display:inline-block; background:#343738; border-radius:5px;}
.submenu_1 li{position:relative; display:inline-block; float:left; width:100%; height:32px;}
.submenu_1 a{font-size:11px; color:#fff; display:inline-block; text-transform:uppercase; text-align:center; line-height:32px; width:100%;}
.submenu_1 li:hover > a, .submenu_1 li.sfHover > a{text-decoration:none; background:#5bb6c9; color:#fff;}
.submenu_1 .magTop{margin-top:24px;}
.submenu_1 .magBot{margin-bottom:24px;}
.submenu_2{position:absolute; z-index:3; width:100%; left:202px; top:-24px; display:inline-block; background:#343738; border-radius:5px;}
.submenu_2 li{position:relative; display:inline-block; float:left; width:100%; height:32px;}
.submenu_2 a{font-size:11px; color:#fff; display:inline-block; text-transform:uppercase; text-align:center; line-height:32px; width:100%;}
.submenu_2 li:hover > a, .submenu_1 li.sfHover > a{text-decoration:none; background:#5bb6c9; color:#fff;}
.submenu_2 .magTop{margin-top:24px;}
.submenu_2 .magBot{margin-bottom:24px;}
.mText{font-family:Arial, sans-serif; color:#fff; z-index:2; width:100%; position:relative; display:inline-block; text-align:center; line-height:20px; font-size:20px; font-weight:700; font-style:normal; top:32px;}
.mOver{width:100%; height:75px; background:url(extra100.png) 50% 0 no-repeat; display:block; position:absolute; top:-20px; z-index:1;}
.imgHolder{width:200px; height:201px; position:relative; text-align:center; z-index:2; background:#FEFEFE; overflow:hidden;}
.imgHolder .picOver{position:relative; width:201px; height:202px;}
.imgHolder .picOut{position:relative; top:0px; width:201px; height:202px;}
.extraHolder{background:url(extra100.png) 49% 0 no-repeat; width:100%; height:75px; position:absolute; display:inline-block; top:190px; z-index:1;}
.corner{background:url(extra10.png) 0 0 no-repeat; position:absolute; top:15px; left:-24px; display:inline-block; width:25px; height:19px;}
.imgHolder img{margin-top:50px;}
.menuHolder2{position:relative; width:100%; height:80px; z-index:2; background:url(extra200.png) 0 0 no-repeat; left:1700px;}
.menu2{position:relative; z-index:0; display:inline-block; height:80px; background:url(divider2.png) 0 100% repeat-x;}
#menu2 {z-index:3; position:relative; width:1010px; height:80px;}
#menu2 > li{position:relative; width:198px; height:80px; display:inline-block; background:url(divider1.png) 100% 0 repeat-y; float:left; padding:0 2px 0 1px;}
#menu2 > li > a{color:#fff; display:block; text-transform:uppercase; position:relative; overflow:hidden;}
#menu2 > li > a:hover{text-decoration:none;}
#menu2 > li.active > a{text-decoration:none;}
#menu2 .noBg{background:none;}
#menu2 .magLeft{margin-left:3px;}
.iconHolder{text-align:center; position:relative; width:198px; height:80px; display:inline-block;}
.iconHolder > img{margin-top:16px;}
.planeHolder{background:#ff9500; width:198px; height:80px; position:absolute; display:inline-block; z-index:1; left:0;}
.menuText{font-family:Arial, sans-serif; color:#fff; z-index:2; width:100%; position:absolute; display:inline-block; text-align:center; line-height:80px; font-size:20px; font-weight:700; font-style:normal; z-index:2; left:0;}
#content{position:relative; z-index:1; float:left; width:100%; margin-top:170px;}
#content > ul{width:100%; z-index:1;}
#content > ul > li{width:100%; display:block; position:absolute;}
.box{margin:0 auto; background:#fff;}
.gum{height:110%; width:1010px;}

// #content{position:relative; height:2000px; z-index:1; float:left; width:100%; margin-top:170px;}
// #content > ul{width:100%; height:100%; z-index:1;}
// #content > ul > li{width:100%; height:110%; display:block; position:absolute;}
// .box{height:100%; width:1010px; margin:0 auto; background:#fff;}

.menuPlane{background:url(partline.png) repeat-x; width:100%; height:42px; position:absolute; top:0; z-index:1;}
.menuHolder{width:940px; height:42px; margin:0 auto;}
.underline{text-decoration:underline;}
.space1{display:inline-block; width:80px;}
.arrow{background:url(extra300.png) 0 50% no-repeat; width:10px; height:18px; display:inline-block; padding-right:6px;}
.color1{color:#fff;}
.color2{color:#7ac2d0;}
.padRight1{padding-right:50px;}
.padRight2{padding-right:18px;}
.padRight3{padding-right:48px;}
.padRight4{padding-right:50px;}
.magLeft1{margin-left:38px;}
.magLeft2{margin-left:34px;}
.magLeft3{margin-left:37px;}
.magLeft4{margin-left:35px;}
.padBot1{padding-bottom:37px;}
.padBot2{padding-bottom:42px;}
.padBot3{padding-bottom:7px;}
.padBot4{padding-bottom:25px;}
.padBot5{padding-bottom:46px;}
.padBot6{padding-bottom:18px;}
.padBot7{padding-bottom:42px;}
.padBot8{padding-bottom:6px;}
.padBot9{padding-bottom:23px;}
.padBot10{padding-bottom:6px;}
.padBot11{padding-bottom:0px;}
.padBot12{padding-bottom:8px;}
.padBot13{padding-bottom:23px;}
.magBot1{margin-bottom:30px;}
.magBot2{margin-bottom:22px;}
.bordR{background:url(divider1.png) 100% 0 repeat-y;}
.followHolder{position:relative; display:inline-block; float:right;}
.followHolder span{position:relative; display:inline-block; font-family:Arial; font-size:11px; line-height:20px; margin:0 7px;}
.followHolder > ul{display:inline-block;}
.followHolder > ul > li{display:inline-block; float:left;}
.followHolder > ul > li > a{text-transform:uppercase; font-size:12px; line-height:20px;}
._link1{color:#b72635; text-transform:uppercase; text-decoration:underline; font-size:10px;}
._link1:hover{color:#493649; text-transform:uppercase; text-decoration:none;}
._link2{color:#ff9500; text-transform:none; text-decoration:none; font-size:13px;}
._link2:hover{color:#ff9500; text-transform:none; text-decoration:underline;}
.more{color:#fff; font-size:11px; background:url(morespri.png) 0 0 no-repeat; padding:9px 18px; line-height:14px; text-transform:uppercase; font-weight:bold;}
.more:hover{text-decoration:none;}
#jcarousel_1 > ul{}
#jcarousel_1 > ul > li{width:900px; height:430px; position:relative; float:left; margin-right:23px;}
.btnHolder{position:absolute; top:-8px; right:0px; width:73px; z-index:2;}
.scrButn{position:relative; margin-right:0px;}
._fig1{width:100%; position:relative; display:inline-block;}
._fig1 img{position:relative; float:left; margin-right:18px;}
._fig1 figcaption{position:relative; float:left; width:140px;}
._fig1 h3{padding-bottom:8px;}
._fig1 p{padding-top:0px;}
._fig2{width:900px; height:192px; position:relative; display:inline-block; background:#fff;}
._fig2 img{position:relative; float:left; margin-right:1px; padding:10px;}
._fig2 figcaption{position:relative; float:left; width:125px; margin-top:12px;}
._fig2 h3{padding-bottom:15px;}
._fig2 > figcaption > p{padding-bottom:0px; line-height:22px;}
._fig3{width:100%; height:150px; position:relative; display:inline-block; margin-bottom:28px;}
._fig3 img{position:relative; float:left; margin-right:18px;}
._fig3 figcaption{position:relative; float:left; width:370px;}
._fig3 h3{padding-bottom:4px;}
._fig3 > figcaption > p{padding-bottom:25px; line-height:22px;}
.headerExtra{width:100%; height:261px; position:absolute; top:0;} 
.footerExtra{width:100%; height:261px; position:absolute; bottom:0;} 
.rightHolder{position:relative; display:inline-block; float:right; margin-top:20px; width:300px; margin-right:35px;}
.text1{font-family:Arial, sans-serif; text-transform:uppercase; font-size:28px; color:#fff; position:relative; float:right; line-height:28px; font-weight:700; margin-top:30px; text-align:right; font-style:normal;}
.text2{text-transform:uppercase; font-size:11px; color:#423133; position:relative; float:left; line-height:18px; font-weight:bold; padding-bottom:8px;}
.text3{font-family:Arial, sans-serif; font-size:18px; color:#fff; text-align:right; font-style:normal;}
.splashHolder{position:relative; z-index:2; width:1010px; float:left; height:202px; top:90px;}
.navHolder{position:relative; height:14px; margin-top:14px;}
.sliderHolder{position:relative; z-index:0; width:950px;}
#_slider{width:950px; height:425px; display:block; overflow:hidden; position:relative;}
#_slider >.descr{width:905px; height:405px; display:block;}
.sliderNav{width:73px; background:#fff; height:32px; position:absolute; top:-60px; right:0;}
#prev1{float:left;}
#next1{float:right;}
#form1{position:relative; float:right; width:100%; display:inline-block; margin-top:58px; box-shadow:0px 0px 100px #19889C;}
.inp1{background:url(extra400.png) 0 0 no-repeat; width:219px; height:32px; display:inline-block; position:relative; float:left;}
.inp1 input{width:200px; margin:7px 10px; color:#848484;}
.searchButton{position:relative; float:left; display:inline-block;}
.searchButton a{position:relative; float:left; display:inline-block;}
.srchText{position:absolute; z-index:2; width:100%; text-align:center; font-size:11px; text-transform:uppercase; font-weight:bold; line-height:32px; cursor:pointer; top:0; left:0;}
footer {position:absolute; bottom:0; width:100%; z-index:2; height:68px;}
.topBtn{position:relative; display:inline-block; cursor:pointer;}
.mainFooter {width:1010px; z-index:2; margin:0 auto; height:68px;}
.textPrivacy{font-size:11px; background-color:#ff9500; color:#fff; position:relative; display:inline-block; font-family:Arial; line-height:20px; bottom:0;}
.privHold{font-size:10px; color:#ededed; text-transform:uppercase; position:absolute;}
.formBtn{display:inline-block; position:relative; padding-left:20px;}
.google_map{margin:0; width:270px; height:300px; background:#fff;}
.list-clients {width:100%; overflow:hidden;}
.list-clients a {float:left; font-size:0; line-height:0; height:63px; background-position:0 0;}
.list-clients a:hover {background-position:0 100%;}
.list-clients a.inturist {width:254px; margin-right:25px; background-image:url(part1.png);}
.list-clients a.southkrest {width:223px; margin-right:25px; background-image:url(part2.png);}
.list-clients a.versa {width:125px; margin-right:25px; background-image:url(part3.png);}
.list-clients a.solvex {width:160px; margin-right:25px; background-image:url(part4.png);}
.list-clients a.neva {width:220px; margin-right:25px; background-image:url(part5.png);}
.list-clients a.spass {width:139px; margin-right:25px; background-image:url(part6.png);}
.list-clients a.pegas {width:239px; margin-right:25px; background-image:url(part7.png);}
.list-clients a.coral {width:150px; margin-right:25px; background-image:url(part8.png);}
.list-clients a.sletat {width:100px; margin-right:25px; background-image:url(part9.png);}
.list-clients a.vista {width:216px; margin-right:25px; background-image:url(part10.png);}
.list-clients a.globus {width:189px; margin-right:25px; background-image:url(part11.png);}
.list-clients a.roza {width:342px; margin-right:25px; background-image:url(part12.png);}
#ContactForm {padding:0;}
#ContactForm .bg{padding:0;}
#ContactForm .wrapper {overflow:inherit; min-height:40px;}
#ContactForm .success {padding-bottom:1px; text-transform:uppercase; font-size:12px; position:relative; float:left; color:#7D7D7D; width:100%;}
#ContactForm label {position:relative; display:inline-block; padding-bottom:7px;}
#ContactForm .message { padding-bottom:26px;}
#ContactForm span {display:block}
#ContactForm .error, #ContactForm .empty {font-size:9px; color:#ff9500; line-height:9px; display:none; width:100%; top:0px; position:relative; text-transform:uppercase; padding-top:2px;}
#ContactForm a {position:relative; z-index:1;}
#ContactForm a:hover {text-decoration:none;}
#ContactForm .input {width:270px; padding:11px 16px 11px 16px; color:#7D7D7D; outline:none; margin:0; font-size:12px; font-family:Arial; border:1px solid #e0e0e0; box-shadow:none;}
#ContactForm textarea {overflow:auto; margin:0; width:270px; height:100px; padding:11px 16px; color:#7D7D7D; resize:none; outline:none; font-size:12px; font-family:Arial; border:1px solid #e0e0e0;}
#ContactForm .block {display:inline-block; position:relative;}